body{
  background-color: #eaeaed;
}

.contain{
  margin:12%;
  margin-left: 25%;
  width:50%;
  padding:5%;
}
.btn{
  width:80%;
}
.col{
  padding:2% 0%;
}
.col-3{
  padding:2% 0%;
}
.col-9{
  padding:2% 0%;
}

#answer{
  width: 225px;
  display: inline-block;
  font-family: 'Dosis', sans-serif;
  padding: 2% 0%;
  width: 93%;
  border:0.5px solid lightgray;
  border-radius: 6px;
  background: white;
}

@media screen and (max-width:480px){
  .contain{
    width:90%;
    margin: 5%;
  }
